
*{
  background-color: pink;
}

#h1{
  font-weight:700;

  /* background-color: red; */
  font-size: 50px;
  /* color: brown; */
margin: 10px;
margin-bottom: 20px;
}

input{
  width: 100%;
}

.items-container{
  text-align: left;
  margin-top: 25px;

}
.row{
  margin-bottom: 20px;
}